---
layout: default
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{site.data.details.name}}'s Home</title>
	</head>
	<body>
		<h1>hi</h1>
		<a href="pdf/index.pdf" style="float:right">PDF </a>
		<h1>{{site.data.details.name}}</h1>
		<h1>{{site.data.details.career.title}}</h1>
		<p>{{site.data.details.career.summary}}</p>
		<h3>Skills</h3>
		<ul>
			{% for lang in site.data.details.prlang %}
			<li><p>{{lang}}</p></li>
			{% endfor %}
		</ul>
		<h3>Languages</h3>
		<ul>
			{% for la in site.data.details.languages %}
			<li><p>{{la}}</p></li>
			{% endfor %}
		</ul>
		<h3>Interests</h3>
		<ul>
			{% for inte in site.data.details.interests %}
			<li><p>{{inte}}</p></li>
			{% endfor %}
		</ul>
		<h3>Links</h3>
		<ul>
			{% for url in site.data.details.urls %}
			<li><a href="{{url}}">{{url}}</a></li>
			{% endfor %}
		</ul>
	</body>
</html>
